.flipCard {
  perspective: 1000px;
  width: 100%;
  height: 100%;

  &:hover .inner {
    transform: rotateY(180deg);
  }
}

.inner {
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(180deg);
}
